body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FAFAFA;
    padding: 20px;
}

.footer-section {
    flex: 1 1 200px;
    /* margin-left: 10px; */
}

.title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 100px;
}

.subtitle {
    text-align: left;
    font-size: 14px;
    display: block;
    color: #005E8A;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 100px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    width: 100%;
}

.footer-bottom .hl-left, .footer-bottom .hl-right {
    flex: 1;
    border-top: 1px solid #000;
}

.footer-bottom .social-media-icons {
    display: flex;
    align-items: center;
    margin: 0 20px;
    gap: 20px;
}

.footer-bottom img {
    margin-left: 20px;
}

.footer-bottom p {
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0;
}

.vl {
    border-left: 1px solid rgb(0, 0, 0);
    height: 392px;
}
.footer-bottom a{
    color: #000000;
}
@media(max-width:1256px) {
    .vl {
        display: none;
    }
}

@media (max-width: 848px) {
    .footer {
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #004346;
    }
    .footer-section {
        flex: 1 1 0px;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .vl {
        display: none;
    }
    .footer-bottom {
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .footer-bottom .hl-left, .footer-bottom .hl-right {
        display: block;
        width: 100px;
        border-top: 1px solid #ffffff;
        margin: 0 10px;
    }
    .footer-section a {
        margin-top: 0px;
    }
    .footer-bottom p {
        text-align: center;
        margin-top: 20px;
        color: #fff;
    }
    .footer-section .title {
        display: flex;
        margin-left: 0%;
        justify-content: center;
        color: #fff;
    }
    .footer-section .subtitle {
        display: flex;
        margin-left: 0%;
        justify-content: center;
        color: #c0c5c7;
    }
    /* .footer-bottom .social-media-icons {
        color: #ffffff;
    } */
    .footer-bottom a{
        color: #fff;
    }
}

@media(max-width:1100px){
        .title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
}

.subtitle {
    text-align: left;
    font-size: 14px;
    display: block;
    color: #005E8A;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
}

    }