/* Reset margin and padding for specific elements */
header, header * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat';
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the header spans the full width */
  background-color: #F3F3F3;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-height: 64px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Add shadow for better visibility */
}

.logo img {
  max-height: 64px; /* Adjusted for better fit */
}

.logo2 {
  display: none;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2; /* Ensure it appears second in flex order */
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 800px; /* Limit the maximum width for better layout */
}

.navbar li {
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  padding: 10px 15px; /* Added padding for better touch area */
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #004346; /* Change color on hover */
  background-color: #ddd;
  font-weight: bold;
}

.arroww {
  border: solid rgba(0, 0, 0, 0.793);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.navbar .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #F3F3F3;
  list-style: none;
  padding: 10px 0;
  width: max-content;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.navbar .dropdown li {
  margin: 0;
  padding: 10px 10px;
  text-align: left;
}

.navbar .dropdown a {
  color: #333;
  display: block;
  width: 100%;
}

.navbar .dropdown a:hover {
  background-color: #ddd;
  color: #004346; /* Change color on hover */
  font-weight: bold;
  max-width: fit-content;
}

.navbar li:hover .dropdown {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.donate-button {
  order: 3; /* Ensure it appears last in flex order */
  margin-left: auto; /* Pushes the donate button to the far right */
}

.donate-button a {
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  background-color: #16909d;
  color:#F3F3F3;
  border: solid 1px #16909d;
  padding: 10px 14px 10px 18px;
  border-radius: 10.9px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  text-align: left;
  cursor: pointer;
  width: 85px;
}

.icon-2 {
  display: flex;
  margin-left: 4px;
  width: 8px;
  height: 8px;
}

.donate-button a:hover {
  background-color: #002d2e; /* Darker shade on hover */
}

.hamburger-menu-container {
  display: none; /* Hidden on larger screens */
  justify-content: flex-start;
  align-items: center;
}

/* New Hamburger Menu Styles */
.menu-wrapper {
  width: 50px;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease-out;
  position: relative;
}

.menu-btn,
.menu-btn::before,
.menu-btn::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #858484;
  transition: all 200ms ease-in-out;
}

.menu-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-btn::before,
.menu-btn::after {
  content: '';
  left: 50%;
  transform: translateX(-50%);
}

.menu-btn::before {
  top: -10px;
}

.menu-btn::after {
  top: 10px;
}

/* Add middle line for 3-line menu button */
.menu-btn-middle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 4px;
  background-color: #858484;
  transition: all 200ms ease-in-out;
}

/* Hide the middle line when menu is open */
.menu-wrapper-on .menu-btn,
.menu-wrapper-on .menu-btn-middle {
  background-color: transparent;
}

.menu-wrapper-on .menu-btn::before {
  transform: translateX(-50%) translateY(0) rotate(45deg);
  top: 0;
  background-color: #858484;
}

.menu-wrapper-on .menu-btn::after {
  transform: translateX(-50%) translateY(0) rotate(-45deg);
  top: 0;
  background-color: #858484;
}

.menu-wrapper-on {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset;
}

.menu-overlay {
  position: fixed;
  top: 64px;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1001;
  transition: right 0.4s ease;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-overlay.open {
  right: 0;
}

.menu-overlay ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-left: 20px;
  margin-top: 10%;
}

.menu-overlay li {
  margin: 10px 0;
  border-bottom: 1px solid #ccc; /* Add underline */
  padding-bottom: 5px;
}

.menu-overlay a {
  color: #868686;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-overlay a .icon-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.menu-overlay a:hover {
  color: #004346;
}

/* Submenu Styles */
.submenu {
  position: absolute;
  top: 50px;
  right: -100%;
  width: 70%;
  height: 0%;
  background-color: rgba(153, 151, 160, 0.8);
  transition: right 0.4s ease;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submenu li {
  margin-left: 20px;
}

.submenu.open {
  right: 0;
}

.main-menu.hidden {
  display: none;
}

.back-to-main-menu {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 830px) {
  .navbar {
    display: none; /* Hidden on smaller screens */
  }

  .hamburger-menu-container {
    display: flex; /* Displayed on smaller screens */
  }

  .donate-button {
    display: none;
  }
  .join-us-button {
    display: none; /* Hide the button on smaller screens */
    }
  .button a {
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    background-color: #16909d;
    color: #F3F3F3;
    border: solid 1px #16909d;
    padding: 5px 14px 5px 18px;
    border-radius: 10.9px;
    font-family: Montserrat;
    font-size: 9.3px;
    font-weight: normal;
    font-stretch: normal;
    text-align: left;
    cursor: pointer;
    width: 200px; /* Set fixed width */
    }
    
    .button a:hover {
    background-color: #a3a3a3; /* Darker shade on hover */
    }
    
    .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    .join-us-button1,
    .button {
    display: inline-block;
    margin: 10px 5px;
    }
    
    .join-us-button1 a,
    .button a {
    display: inline-flex;
    justify-content: center;
    width: 200px; /* Set fixed width */
    }
    
    .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 200px; /* Ensure social media icons match button width /
    padding-top: 10px; / Adjust padding for spacing /
    border-top: 1px solid #ccc; / Add border to match buttons /
    text-align: center; / Center the social media icons */
    }
    
    .social-media a {
    margin: 0 10px;
    color: #868686;
    font-size: 24px;
    transition: color 0.3s;
    }
    
    .social-media a:hover {
    color: #004346;
    }
    }
    
    @media (min-width: 831px) {
    .hamburger-menu-container {
    display: none; /* Hidden on larger screens */
    }
    
    .navbar {
    display: flex !important; /* Ensure it is displayed on larger screens */
    }
    
    .donate-button {
    display: inline-flex !important; /* Ensure it is displayed on larger screens */
    }
    }
    
    /* Styles for the Join Us button */
    .join-us-button {
    order: 2; /* Ensure it appears next to the donate button */
    margin-right: 10px; /* Add some space between the buttons */
    }
    
    .join-us-button a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    border: none;
    padding: 4px 8.1px 5px 12px;
    border-radius: 10.9px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    text-align: left;
    cursor: pointer;
    background-color: #d2e6f0;
    color: #004346;
    border: solid 1px #004346;
    width: 85px;
    }
    
    .icon {
    margin-left: 2px;
    width: 12px;
    height: 12px;
    }
    
    .join-us-button a:hover {
    background-color: #9eb1b2; /* Darker shade on hover */
    }
    
    /* @media (max-width: 830px) {
    .join-us-button {
    display: none; Hide the button on smaller screens 
    }
    } */
    
    .join-us-button1 a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    border: none;
    padding: 4px 8.1px 5px 12px;
    border-radius: 10.9px;
    font-family: Montserrat;
    font-size: 9.3px;
    font-weight: normal;
    font-stretch: normal;
    text-align: left;
    cursor: pointer;
    background-color: #d2e6f0;
    color: #004346;
    border: solid 1px #004346;
    width: 200px; /* Set fixed width */
    }
    
    .marginit {
    margin-right: 5%;
    }

    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px; /* Ensure social media icons match button width */
      text-align: center; /* Center the social media icons */
      position: fixed; /* Make the social media icons fixed */
      bottom: 22%; /* Set the bottom margin to 22% */
    }
    
    .social-media a {
      margin: 0 10px;
      color: #868686;
      font-size: 24px;
      transition: color 0.3s;
    }
    
    .social-media a:hover {
      color: #004346;
    }
    
    /* Hide social media icons by default */
    .social-media.hidden {
      display: none;
    }