body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --heading-4: Montserrat;

  /* font sizes */
  --heading-4-size: 18px;
  --heading-2-size: 32px;

  /* Colors */
  --color-white: #fff;
  --dablie-grey-800: #345973;
  --color-black: #000;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-10xs: 3px;
  --padding-5xs: 8px;
}
