/* Reset default margin and padding, set font family, and define background and text color for the entire page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

/* Styles for the hero section */
.hero {
    /* Gradient background */
    /* background: linear-gradient(to bottom, #0072c6, #70c6ff); */
    background-image: url("./images/hero_part1\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size:cover;
    color: white; /* Text color */
    height: 720px;
    padding: 60px 20px; /* Padding for content */
}
/* Styles for the logo within the hero section */
.hero_logo img {
    width: 95;
    height: 111.31px;
    margin-top: 130px;
    margin-bottom: 35.69px; /* Space below logo */
}

/* Styles for text within the hero section */
.hero_text p {
    width:37rem ;
    font-size: 2em; /* Font size */
    margin: 20px auto; /* Margin around text */
    line-height: 1.4; /* Line height */
}

/* Styles for buttons within the hero section */
.hero_button a {
    display: inline-block; /* Display as block element */
    padding: 10px 20px; /* Padding */
    margin-top: 52px; /* Space above button */
    border: 2px solid white; /* Border */
    border-radius: 18px; /* Border radius */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    transition: 0.3s, color 0.3s; /* Transition effect */
}

/* Hover styles for buttons within the hero section */
.hero_button a:hover {
    background: white; /* Background color on hover */
    color: #508991; /* Text color on hover */
}

/* Styles for the updates section */
.updates {
    background-color: #fff; /* Background color */
    padding: 40px 20px; /* Padding for content */
    margin-bottom:2rem ;
}

/* Styles for headings within the updates section */
.updates h3 {
    color: #333; /* Text color */
    font-weight: 400;

}
.updates h1 {
    color: #333; /* Text color */
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 4rem;
}
/* Styles for the container of update cards */
.updates_grid {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    gap: 3rem; 
    /* justify-content: space-evenly; */
    margin-top: 20px; /* Space above container */
}

/* Styles for individual update cards */
.update_card {
    background: #E4EBEF; /* Background color */
    /* border-radius: 12px; Border radius */
    /* padding: 15px; Padding */
    width: 320px; /* Card width */
    height: 380px;
    text-align: left; /* Text alignment */
}

/* Styles for images within update cards */
.update_card img {
    width: 100%; /* Image width */
    /* border-radius: 10px; Border radius */
    height: 210px;
}

/* Styles for paragraphs within update cards */
.update_card h4 {
    font-size: 0.95em; /* Font size */
    font-weight: bolder;
    margin: 10px 10px auto 10px; /* Margin */
}

.update_card h5{
    font-size: 0.75rem; /* Font size */
    margin: 25px 10px;
    font-weight: 500;
}
/* Styles for links within update cards */
.update_card a {
    color: #508991; /* Link color */
    text-decoration: none; /* Remove underline */
    padding-left: 0.75rem;
}

/* Styles for the programs section */
.programs {
    background-color: #E4EBEF; /* Background color */
    padding: 40px 20px; /* Padding for content */
}

/* Styles for heading within the programs section */
.programs h2 {
    color: #508991; /* Text color */
    margin-bottom:3rem;
}

/* Styles for the container of program cards */
.programs_grid {
    margin-top: 2rem;
    background-color: #E4EBEF;
    display: flex; /* Use flexbox */
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    gap: 20px; /* Gap between items */
    flex-wrap: wrap; /* Wrap items if they overflow */
    margin-top: 20px; /* Space above container */
}

/* Styles for individual program cards */
.program_card {
    display: flex;
    margin-top: 2rem;
    background: #fff; /* Background color */
    border-radius: 10px; /* Border radius */
    padding: auto; /* Padding */
    width: 800px; /* Card width */
    height: 350px;
    text-align: left; /* Text alignment */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for elevation */
}

/* Styles for images within program cards */
.program_card img {
    width: 268.45px; /* Image width */
    height: 265.89px;
    margin: auto; /* Space below image */
}
.program_card a{
    width: 120px;
    height: 30px;
    margin-top: 0.5rem;
    text-decoration: none;
    border: solid 1px;
    padding-left: 1.7rem;
    padding-top: 7px;
    border-radius: 10px;
    color: #fff;
    background-color: #90A5B5;
}
.program_card a:hover{
    background: white; /* Background color on hover */
    color: #508991; /* Text color on hover */
    transition: 0.1s;
    scale: 1.01;
}
.program_text_right{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 306px;
    height: 184px;
    /* margin: auto auto; */
    margin-top: 10%;
    margin-right: 4rem;
}
.program_card_Two{
    display: flex;
    gap: 4.5rem;
}
.program_text_left{
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 184px;
    margin-top: 10%;
    /* margin: auto auto; */
    margin-left: 5rem;
}
/* Styles for headings within program cards */
.program_card h3 {
    font-size: 1.2em; /* Font size */
    margin-bottom: 10px; /* Space below heading */
    color: #004346; /* Text color */
}
/* Styles for paragraphs within program cards */
.program_card p {
    font-size: 0.75em; /* Font size */
    margin-bottom: 15px; /* Space below paragraph */
}
.see_more {
    width: 500px;
}
.see_more a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #508991;
    display: inline-block;
   position: relative;
   margin-top: 7%;
   /* margin-bottom: ; */
}
.see_more a:hover{
    background-color: transparent;
    transition: 0.2s ease-in-out;
    scale: 1.05;

}
.see_more a::after{
    display: none;
}
.see_more span{
    font-size: 16px;
    
}
.hidden{
    display: none;
}
.program_card.hidden {
    display: none;
}
/* Underline animation for see more */
/* .see_more a::after{
content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #508991;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.see_more a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
} */
/* .see_more a:hover{
    text-decoration: underline;
    transition:ease-in 1s;
} */
.arrow {
    border: solid rgba(0, 0, 0, 0.793);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  @media (max-width: 838px) {
    /* .hero {
        height: auto;
        padding: 40px 20px;
    }*/

    .hero_text p {
        width: 100%;
        font-size: 1.5em;
    }
/*
    .updates_grid {
        flex-direction: column;
        gap: 20px;
    } */
    .programs_grid{
        flex-direction: row;
    }

    .program_card {
        flex-direction: column;
        width: 90%;
        max-width:500px ;
        height: auto;
    }
    .program_card h3{
        text-align: center;
        font-size: medium;
    }
    .program_card p{
        text-align: center;
    }
    .program_card a{
        align-items: center;
        margin: auto;
    }
    .program_card_Two {
        display: flex;
        flex-direction: column-reverse;
    }
    .program_card img {
        width: 50%;
        height: auto;
        margin-top: 1rem;
    }

    .program_text_left {
        margin: auto;

    }

    .program_text_right {
        margin: auto;
    }
    .program_card_Two {
        gap: 0;
    }
    
}
/* @media (max-width: 821px) {
    .program_card {
        width: 750px;
    }
} */
@media (max-width:1100px){
    .updates_grid {
        display: flex; /* Use flexbox */
        justify-content: center; /* Center items horizontally */
        gap: 4rem; /* Gap between items */
        flex-wrap: wrap; /* Wrap items if they overflow */
        margin-top: 20px; /* Space above container */
    }
}

.donateh-button {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 67, 70, 0.8);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px 10px;
    text-align: center;
    white-space: nowrap; /* Ensure the text does not wrap */
}

.donateh-button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    display: inline-block; /* Ensure the link respects the rotation */
}

.donateh-button a:hover {
    text-decoration: underline;
}
/* Adjustments for mobile view */
@media (max-width: 766px) {
    .donateh-button {
        top: 40%;
        bottom: auto;
        right: 0;
        transform: rotate(270deg) translateY(-70%);
        transform-origin: top right;
    }
}
@media (min-width:768px) {
    .donateh-button{
        display: none;
    }
}
.learn-leje{
    padding-bottom: 10px;
}
/* .Donate-Button {
  width: 84px;
  height: 31px;
  padding: 4px 8.1px 5px 12px;
  border-radius: 10.9px;
  border: solid 1px #004346;
  background-color: #d2e6f0;
}

.Become-a-member {
  width: 51px;
  height: 22px;
  margin: 0 1px 0 0;
  font-family: Montserrat;
  font-size: 9.3px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #004346;
} */
