 /* body {
    /* /* font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0; */
    /* display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;
    flex-direction: column;
    overflow-y: auto;
} */

.title5{
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    margin-top: 2%;
    margin-left: 20px;
    height: 131px;
}

.contact{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 22px;
    gap: 10px;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0px;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    /* gap:10px; */
}

.content {
    background-color:#F0F7FA;
    /* padding: 10px; */
    max-width: 516px;
    margin: 20px 23px 20px 20px;
    width: 100%;
    height: 87%;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image img {
    width: 100%;
    height: auto;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
}

.contact a {
    margin-top: 30px;
    color: #000000;
    font-size: 14px;
}

.contact a:hover {
    text-decoration: underline;
}

.donation-form div{
    width: 100%;
    padding: 10px;
}

.donation-form {
    margin: 20px 20px 20px 0px;
    background-color:#F0F7FA;
    max-width: 360px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    /* height: 87%; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.button7{
    margin-top:120px ;
}

.donation-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
    position: relative;
}

.donation-type button {
    background-color: white;
    color: black;
    border: none; /* Remove the black border from unselected buttons */
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.6s ease, color 0.6s ease, border-color 0.1s ease, z-index 0.1s ease;
    width: calc(50% + 10%);
    height: 40px;
    position: relative;
}

.donation-type button:nth-child(2) {
    margin-left: -7%;
    z-index: 1;
}

.donation-type button.active {
    background-color: rgba(22, 131, 157, 0.24); /* Light blue background for the selected button */
    border: 0.5px solid #16909D; /* Apply border only to the selected button */
    z-index: 2; /* Ensure the active button is on top */
    position: relative;
}

.amount-options {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 10px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    margin-left: 10px;
}

.amount-options button {
    width: 90px;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #595959;
    text-align: center;
    border-radius: 5px;
    /* height: 40px; */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Hover effect */
.amount-options button:hover {
    background-color: white;
    color: rgb(22, 144,157);
}



.amount-once {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 10px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    margin-left: 10px;
}

.amount-once button {
    width: 90px;
    padding: 10px;
    cursor: pointer;
    background-color: #e7e7e7;
    border: 2px solid #ccc;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Hover effect */
.amount-once button:hover {
    background-color:  white;
    color: rgb(22, 144,157);
    
}


.amount-once button {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #595959;
    text-align: center;
    border-radius: 5px;
    height: 40;
}
.custom-amount {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0px;
}

.custom-amount input {
    width: 270px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(22, 144,157);
    height: 40px;
    margin-left: 10px;
}

.custom-amount select {
    border: 1px solid #000000;
    border-radius: 0px 5px 5px 0px;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    height: 40px;
    border-left: none;
    color:#666666;
}
.custom-amount select:nth-child(2) {
    margin-left: -7%;
    z-index: 1;
}

.donate3-button {
    background-color: rgb(22, 144,157);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 290px;
    text-align: center;
    height: 40px;
    margin-left: 10px;
    
}

.donate3-button:hover {
    background-color: rgb(20, 125, 137);
}
.donation-form h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sub{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
/* The Close Button */
/* The Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0px;  /* 20px below the top of the box */
    right: -30px; /* 20px away from the right edge of the box */
    cursor: pointer;
    transform-origin: center;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

@media(max-width:1220px){
    .button7 {
        margin-top: 80px;
    }
}
@media(max-width:1220px){
    .title5{
        width: 95%;
    }
}

/* Further adjustments for smaller screens */
@media (max-width: 950px) {
    .container {
        position: relative;
        display: flex;
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        flex-direction: column; /* Column layout for smaller screens */
        width: 100%;
        max-width: 1000px;
        border-radius: 10px;
        margin: 0 auto; /* Center the container */
    }
    /* Fixed width and height for donation form in column layout */
    .content, .donation-form {
        width: 360px; /* Fixed width */
        padding: 0px;
        margin-left: 5%;
    }

    /* Fixed height for donation form */
    .donation-form {
        height: 500px; /* Adjust based on your need */
        margin-top: 20px; /* Add some space between the two boxes */
        max-height: 400px; /* Limit the height to make it scrollable */
    }
    
    .donation-form div {
        
    }
    
    .donation-type button {
        width: 100%;
    }
    
    .amount-options, .amount-once {
        display: grid;
        justify-items: center;
    }
    
    .custom-amount {
        flex-direction: row;
    
    }
    
    .custom-amount input {
        width: 83%;
    }
    
    .title5 {
        margin-top: 50px;
        width: 360px;
        margin-left: 14%;
        height: 150px;
        margin: 0 auto; /* Center the container */
    } 
    
    .sub {
        margin-left: 3%;
    }
    .close {
        position: absolute;
        top: 0px; /* Adjust the distance from the top of the container */
        right: 50px; /* Adjust the distance from the right of the container */
        font-size: 24px; /* Adjust font size for smaller screens */
    }
    .donate3-button {
        width: 87%;
        margin-right: 15px;
    }
}



.icon-image {
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px 5px;
}
.title2{
    color: #000000;
}
.icon2-image {
    width: 15px;
    height: 15px;
    margin: -3px 2px;
}
.subtitl {
    text-align: left;
    /* margin-left: 17px; */
}
.subp{
    text-align: left;
    margin-top: 1%;
}
@media(max-width:450px){
    .title5{
        width: 300px;
        height: 180px;
    }
    .content, .donation-form {
        width: 300px; /* Fixed width */
        
    }
    .amount-options{
        margin-left: -8px;
        gap: 5px;
    }
    .amount-once{
        margin-left: -8px;
        gap: 5px;
    }
    .donate3-button {
        width: 101%;
        margin-left: -1px;
    }
    .custom-amount input {
        margin-left: -4px;
        width: 100%;
        
    }
}