body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: #ffffff;
    color: #333;
    text-align: center;
}
.youth_hero{
    background-image: url(./youth_assets/Hero\ section\ \(3\).png);
    background-repeat: none;
    background-size: cover;
    height:526px;
    padding: 2rem;
}
.hero_header p{
    color: #508991;
    font-size: 1.05rem;
    margin: 2rem;
}
.youth_hero h1{
    font-size: 2.5rem;
    font-weight: light;
}
.youth_hero span{
    color:#508991 ;
}
.youth_icons img{
    width: 30px;
    border: 0.25px solid #333;
    border-radius: 50px;
    padding: 10px;
    margin: 3rem 0.5rem;
}
.youth_icons img:hover{
    cursor: pointer;
    background: rgb(199, 242, 217);
    color: #0072c6;
    transition: ease-in 0.2s;
}
/* .youth_hero button{
    background-color: #508991;
    border-radius: 5px;
    width: 120px;
    height: 30px;
} */
.donate_button {
    order: 2; /* Ensure it appears second in flex order */
    margin-left: 98%; /* Pushes the donate button to the far right */
}

.donate_button a {
    text-decoration: none;
    background-color: #004346;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease;
    transform: rotate(270deg);
}

.donate_button a:hover {
    background-color: #002d2e; /* Darker shade on hover */
}

.donate-button a::after {
    content: '♥';
    margin-left: 0.5rem;
}
.youth_hero p{
    text-align: center;
    width: 50rem;
    margin: 2rem auto;
}
.Ready{
    background-color: #F5F9FF;
    padding: 0.25rem 0.5rem;
    height: 526px;
}
.ready_box{
    background-color: #E4EBEF;
    display: flex;
    /* margin-top: 2rem; */
    margin: 3rem 2rem;
    height: 350px;
    padding: 40px;
}
.ready_box img{
    width: 435px;
    margin-left: 30%;
}
.ready_written{
    width: 50%;
    text-align: center;
}
.points{
    text-align: left;
    margin-top: 2rem;
}
.features{
    padding: 3rem;
}
.features_header p{
    font-size: 1.5rem;
    margin: 5rem auto;
}
.features_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}
.features_content{
    /* border: 1px solid #333; */
    width: 18rem;
    height: 21rem;
    padding: 1.2rem;
    text-align: center;
    margin: 1rem;
}
.features_content img{
    margin: 0.5rem;
    width: 7.5rem;
}
.features_content h1{
    color: #508991;
    font-size: large;
    font-weight: lighter;
}
.features_content p{
    font-size:medium;
}
.modules{
    background-color:#f3f3f3;
    text-align: left;
    padding: 3rem;
}
.modules h1{
    margin-left: 7rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.bullets p{
    margin-left: 7rem;
    color: #508991;
}
.youth_reserve{
    background-color:#F5F9FF ;
    padding: 2rem;
    height: 300px;
}
.youth_reserve p{
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 8rem;
}
.youth_reserve a{
    color: #508991;
    margin-left: 70%;
    text-decoration: none;
}
.youth_reserve a:hover{
    border: 1px solid #508991;
    background-color: #508991;
    border-radius: 12px;
    padding: 5px;
    color: #ffff;
    transition: ease-in 0.5s;
}
