body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: #ffffff;
    color: #333;
    text-align: center;
}
.youth_hero{
    background-image: url("./economic_assets/WorkwithusImg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment:scroll;
    /* width:auto ; */
    background-repeat: none;
    background-size: cover;
    height:726px;
    padding: 2rem;
}
.hero_header p{
    color: #508991;
    font-size: 1.05rem;
}
.headtext{
    max-width: 928px;
    text-align: left !important;
    font-family: 'Montserrat';
    text-align: justify !important;
    font-size: 20px;
    /* color: #213B49; */
    color: #000000;
    margin: 0 auto;
    margin-top: 36px;
}
.youth_hero h1{
    font-size: 2.5rem;
    font-weight: light;
    margin-top: 36px;
}
.youth_hero span{
    color:#004346 ;
    /* color: #ffff; */
}
.youth_icons img{
    width: 25px;
    height: 25px;
    border: 0.25px solid #333;
    border-radius: 21px;
    padding: 10px;
    margin: 3rem 0.5rem;
    margin-top: 36px;
}
.youth_icons img:hover{
    cursor: pointer;
    background: rgb(156, 156, 156);
    color: #0072c6;
    transition: ease-in 0.2s;
}
/* .youth_hero button{
    background-color: #508991;
    border-radius: 5px;
    width: 120px;
    height: 30px;
} */
.donate_button {
    order: 2; /* Ensure it appears second in flex order */
    margin-left: 98%; /* Pushes the donate button to the far right */
}

.donate_button a {
    text-decoration: none;
    background-color: #004346;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease;
    transform: rotate(270deg);
}

/* .donate_button a:hover {
     background-color: #002d2e;  
} */

.youth_hero p{
    text-align: center;
    /* width: 50rem; */
    margin: 2rem auto;
}
.title2{
    color: #5E6161;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 2rem;
    text-align: center;
}
.Ready{
    display: flex;
    flex-direction: column;
    /* background-color: #F5F9FF; */
    background-color: #e7edf742;
    align-items: center;
    padding: 2.5rem 1.5rem;
    gap: 2rem;
    align-items: center;
}
.ready_box{
    background-color: #E4EBEF;
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-top: 2rem; */
    /* margin: 3rem 2rem; */
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 5rem;
    width: 1216px;
    /* margin-left: 55px; */
}
.subtitle2{
    color: #5E6161;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight:bolder;
    margin: 1rem;
    text-align: center;
    
}
.ready_picture img{
    margin: 3rem;
    width: 300px;
}
.ready_box2{
    margin:1rem;
    background-color: #DBEAF2;
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-top: 2rem; */
    /* margin: 3rem 2rem; */
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 5rem;
    width: 1216px;
    /* margin-left: 55px; */
}
.ready2_picture img{
    width: 300px;
}
.ready_written{
    text-align: center;
    font-weight: bolder;
    color: #508991;
}
.points{
    color: #333;
    font-weight: lighter;
    text-align: left;
    margin-top: 2rem;
}
.points p{
    margin: 25px 0;
}
.points span{
    color: #508991;
    font-weight: bolder;
}
.features{
    padding: 1rem;
    background-color: #ffffff;
}
.features_header p{
    font-size: 24px;
    font-weight: bold;
    margin: 5rem auto 2rem 0;
}
.features_header span{
    color: #1b7985;
}
.features_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.features_content{
    /* border: 1px solid #333; */
    width: 18rem;
    height: 21rem;
    padding: 1.2rem;
    text-align: center;
    margin:1rem;
}

.features_content img{
    margin: 0.5rem;
    width: 7.5rem;
}
.features_content h1{
    color: #508991;
    font-size: large;
    font-weight: lighter;
}
.features_content p{
    font-size:medium;
}
.modules{
    background-color:#f3f3f3;
    text-align: left;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.modules h1{
    margin-left: 7rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.bullets p{
    margin-left: 7rem;
    color: #508991;
}
.youth_reserve{
    background-color:#e7edf742 ;
    padding: 2rem;
    text-align: left;
}
.youth_reserve span{
    color: #1b7985;
}
.youth_reserve h1{
    margin-bottom: 2.5rem;
    margin-left: 20%;
    color: #5E6161;
}
.youth_reserve p{
    font-size: 1rem;
    text-align: left;
    /* margin-left: 10%; */
    margin-bottom: 2.75rem; 
}
.youth_reserve a{
    margin-top: 6rem;
    margin-bottom: 4rem;
    color: #508991;
    /* margin-left: 70%; */
    text-decoration: none;
}
.youth_reserve a:hover{
    border: 1px solid #508991;
    background-color: #508991;
    border-radius: 12px;
    padding: 5px;
    color: #ffff;
    transition: ease-in 0.5s;
}
.youth_written{
    margin-bottom: 3rem;
    margin-bottom: 8rem;
}
.youth_written p{
    margin-left: 20%;
    margin-bottom: 2rem;
}
.become-a-leader {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .leadership {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0.125rem;
  }
  .blank-line,
  .do-you-see {
    margin: 0;
  }
  .do-you-see-container {
    align-self: stretch;
    position: relative;
  }
  .driven-prompt {
    width: 32.438rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-19xl) 0 0;
    box-sizing: border-box;
    min-width: 32.438rem;
    max-width: 100%;
  }
  .changemaker-child {
    height: 15.938rem;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 25.5rem;
  }
  .changemaker,
  .root {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--color-black);
    font-family: var(--heading-2);
  }
  .changemaker {
    align-self: stretch;
    flex-direction: row;
    gap: 3.062rem;
    margin-top: -0.063rem;
    text-align: justify;
    font-size: 1.25rem;
  }
  .root {
    width: 75.813rem;
    flex-direction: column;
    padding: 0 1.062rem var(--padding-19xl) 7rem;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--heading-2-size);
  }
  @media screen and (max-width: 975px) {
    .become-a-leader {
      font-size: 1.625rem;
    }
    .driven-prompt {
      flex: 1;
    }
    .changemaker {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 700px) {
    .driven-prompt {
      min-width: 100%;
    }
    .changemaker {
      gap: 1.5rem;
    }
  }
  @media screen and (max-width: 450px) {
    .become-a-leader {
      font-size: 1.188rem;
    }
    .do-you-see-container {
      font-size: 1rem;
    }
    .changemaker-child {
      min-width: 100%;
    }
  }

@media (max-width: 1024px){
    .Ready{
        background-color: #e7edf742;
        padding: 5rem 0rem;
    }
    .ready_box{
        background-color: #E4EBEF;
        display: flex;
        flex-direction: column-reverse;
        gap: 0rem;
        /* padding: 10px; */
    }
    .ready_box2{
        background-color: #DBEAF2;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        /* padding: 10px; */
    }
    /* .ready_picture img{
    width: 340px;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: -1.5rem;
    } */
    .ready_written{
        text-align: center;
        padding: 5%;
    }
    .modules h1{
        margin-left: 3rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .bullets p{
        margin-left: 5rem;
        color: #508991;
    }
    .youth_reserve p{
        font-size: 1.15rem;
        text-align: left;
        /* margin-left: 10%; */
        margin-bottom: 3rem;
    }
    .youth_hero{
        height: fit-content;
        background-image:url("./economic_assets/WorkwithusImg.png");
    }
}
@media (max-width:1000px) {
    .headtext{
        width: auto;
        text-align: justify;
    }
}
@media (max-width: 1400px){
    .ready_box{
     width: 70%;
     /* margin-left:12% ; */
    }
    .ready_box2{
     width: 70%;  
     /* margin-left: 12%; */
 
    }
}
@media (max-width: 730px){
    .ready_picture img{
        width: 80%;
        margin-left: 10%;
    }
    .Ready{
        gap: 0px;
    }
    .title2{
        margin-top: 0px;
    }
    .youth_reserve p{
        margin-bottom: 1rem;
    }
    .features_box{
        gap: 0rem;
    }
    .features_content{
        height:auto;
    }
    .points p{
        margin: 30px 0;
    }
}
@media(max-width:1024px){
    .youth_written p{
        margin-left: auto;
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
    .youth_reserve h1 {
        margin-bottom: 2.5rem;
        margin-left: 0;
        color: #5E6161;
    }
}




.margin-top1{
    margin: 100px !important;
}
.padding1{
    padding: 32px;
}
.padding-bottom-1{
    padding-bottom: 32px;
}

.headtext2{
    max-width: 848px;
    text-align: left !important;
    font-family: 'Montserrat';
    text-align: justify !important;
    font-size: 20px;
    /* color: #213B49; */
    color: #000000;
    margin: 0 auto;
    margin-top: 36px;
}
.headtext3{
    font-weight: bold;
}





















/* for the main boxes */


.our-vision {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.vision-content-child {
  height: 255px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 408px;
}
.we-envision-a {
  margin: 0;
}
.we-envision-a-container {
  align-self: stretch;
  position: relative;
}
.our-vision-parent,
.vision-content,
.we-envision-a-world-where-indi-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.we-envision-a-world-where-indi-wrapper {
  width: 519px;
  flex-direction: column;
  padding: 13px 0 0;
  box-sizing: border-box;
  min-width: 519px;
}
.our-vision-parent,
.vision-content {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-47xl);
  text-align: justify;
  font-size: var(--font-size-xl);
}
.reverse-it{
  flex-direction: row-reverse !important;
}
.our-vision-parent {
  flex-direction: column;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--heading-2-size);
  color: var(--color-black);
  font-family: var(--heading-2);
}
.values {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 111px;
}
.values-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.we-are-driven {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  text-align: justify;
}
.values-content {
  width: 519px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
  min-width: 519px;
  max-width: 100%;
}
.placeholder,
.placeholder1 {
  width: 60px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.placeholder {
  margin-top: -16px;
  background-color: #e7ddd1;
}
.placeholder1 {
  background-color: #e4dcd1;
}
.social-justice-content,
.social-justice-content-wrapper,
.values-content-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.social-justice-content {
  align-self: stretch;
  height: 255px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 12px 164px 227px;
  background-image: url(./public/social-justice-content@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.social-justice-content-wrapper,
.values-content-parent {
  max-width: 100%;
}
.social-justice-content-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 38px 0 0;
  min-width: 408px;
}
.values-content-parent {
  width: 1196px;
  flex-direction: row;
  padding: 0 0 49px;
  gap: 49px;
  text-align: left;
  font-size: var(--heading-2-size);
  color: var(--color-black);
  font-family: var(--heading-2);
}
.founded-by-the {
  width: 519px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 519px;
  max-width: 100%;
}
.main-boxes,
.story-content,
.story-content-wrapper {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.story-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-18xl);
}
.main-boxes,
.story-content-wrapper {
  box-sizing: border-box;
}
.story-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  text-align: left;
  font-size: var(--heading-2-size);
  color: var(--color-black);
  font-family: var(--heading-2);
}
.main-boxes {
  width: 1440px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 96px 111px 109px 114px;
  gap: 83px;
  line-height: normal;
  letter-spacing: normal;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .we-envision-a-world-where-indi-wrapper {
    flex: 1;
  }
  .vision-content {
    flex-wrap: wrap;
  }
  .values-content {
    flex: 1;
  }
  .values-content-parent {
    flex-wrap: wrap;
  }
  .founded-by-the {
    flex: 1;
  }
}
@media screen and (max-width: 1050px) {
  .our-vision {
    font-size: var(--font-size-7xl);
  }
  .we-envision-a-world-where-indi-wrapper {
    min-width: 100%;
  }
  .values {
    font-size: var(--font-size-7xl);
  }
  .founded-by-the,
  .values-content {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .vision-content-child {
    min-width: 100%;
  }
  .vision-content {
    gap: var(--gap-14xl);
  }
  .values-content {
    gap: var(--gap-lg);
  }
  .social-justice-content-wrapper {
    min-width: 100%;
  }
  .values-content-parent {
    gap: var(--gap-5xl);
  }
  .story-content {
    gap: var(--gap-lg);
  }
  .main-boxes {
    gap: 41px;
    padding-left: 57px;
    padding-right: 55px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .our-vision {
    font-size: var(--font-size-lgi);
  }
  .we-envision-a-container {
    font-size: var(--font-size-base);
  }
  .vision-content {
    gap: var(--gap-base);
  }
  .values {
    font-size: var(--font-size-lgi);
  }
  .we-are-driven {
    font-size: var(--font-size-base);
  }
  .social-justice-content {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .founded-by-the {
    font-size: var(--font-size-base);
  }
  .main-boxes {
    gap: 21px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
